body{
    background-color: #231F20;
    overflow: hidden;
}

.step{
    box-sizing: border-box; 
    width:100px; 
    height: 100px;
    top: 10;
    left: 10;
    background-color: #241A6B;
    position:absolute;
    border-radius: 50px;
    border-style: solid;
    border-color: #4345B5;
    border-width: 8px;
    text-align: center;
    padding-top: 20px;
    font-family: "josefin sans";
    color: white;
    user-select: none;
}

#zero:hover{
    background-color: #6B1A3B;
    border-color: #BC448C;
}

.halfstep{
    box-sizing: border-box; 
    width:100px; 
    height: 100px;
    top: 10;
    left: 10;
    background-color: #3E1A6B;
    position:absolute;
    border-radius: 50px;
    border-style: solid;
    border-color: #6643B5;
    border-width: 8px;
    text-align: center;
    padding-top: 20px;
    font-family: "josefin sans";
    color: white;
    user-select: none;
}

.boom{
    background-color: #1A5E6B;
    border-style: solid;
    border-color: #43B5AC;
    box-sizing: border-box; 
    width:100px; 
    height: 100px;
    top: 10;
    left: 10;
    position:absolute;
    border-radius: 50px;
    border-width: 8px;
    text-align: center;
    padding-top: 20px;
    font-family: "josefin sans";
    color: white;
    user-select: none;
}

.vis{ visibility: visible; }

.invis{ visibility: hidden; }

#canv{ z-index: -3; }
#cav2{ z-index: -4; }